################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NHS_CWT_SOL/.vs/
/NHS_CWT_SOL/.vs
/NHS_CWT_SOL/packages
/NHS_CWT_SOL/NHS_CWT/BIN/
/NHS_CWT_SOL/NHS_CWT/OBJ
/.vs
/CWTTestFramework/.vs/CWTTestFramework/v15/.suo
/CWTTestFramework/CWTTestFramework/obj/Debug
/CWTTestFramework/Tests/obj/Debug
/CWTTestFramework/CWTTestFramework/obj/Release/CWTTestFramework.csproj.CoreCompileInputs.cache
/CWTTestFramework/Tests/obj/Release/Tests.csproj.CoreCompileInputs.cache
